<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Snikk Snakk <small>En plass der du kan snikke</small></h1>
</div>

<center>
<% @snikks.each do |snikk| %>
  <div class="well" style="max-width: 400px">
    <%= snikk.body %>
    <br>
    <%= snikk.user.email %>
  </div>
<% end %>
</center>
